html, body {
    margin: 0;
    padding: 0;
    color: #FFFFFC;
}

img {
    max-width: 100%;
    height: auto;
}

.mainBody {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: #001011;
}

.hangman {
    height: 100%;
    width: 45%;
}

.randomWordContainer {
    display: flex;
    gap: 5px;

}

.lettersContainer {
    display: flex;
    gap: 5px;
}

.wrongWordContainer {
    display: flex;
    gap: 5px;
}

div[disabled] {
    pointer-events: none;
    opacity: 0.7;
}